<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268062493357-j3kolq4itb89f4oudao4b374u0h98fmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268062493357-j3kolq4itb89f4oudao4b374u0h98fmp</string>
	<key>API_KEY</key>
	<string>AIzaSyAx--ipKVxsGxQzeiTSXJK29oEct6P01KI</string>
	<key>GCM_SENDER_ID</key>
	<string>268062493357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monikamusak.Game</string>
	<key>PROJECT_ID</key>
	<string>game-4c251</string>
	<key>STORAGE_BUCKET</key>
	<string>game-4c251.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268062493357:ios:9b9415b1426f716d0e5424</string>
	<key>DATABASE_URL</key>
	<string>https://game-4c251.firebaseio.com</string>
</dict>
</plist>